body {
  text-align: center;
}
 
.gallery {
  display: inline-block;
  text-align: center;
  padding: 0;
  list-style: none;
  margin: 5px 0;
}
 
.gallery li {
  border: 0.4rem solid black;
  padding: 0.2rem;
  margin: 0.4rem;
  display: inline-block;
  vertical-align: middle;
}
 
.gallery li.small-img img {
  width: 300px;
  height: 200px;
}
 
.gallery li.large-img img {
  width: 300px;
  height: 450px;
}