body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
article {
    background-color: rgb(52, 100, 156);
    border-radius: 1rem;
    padding: 20px;
    color: white; 
    margin: 50px;
}
h1 {
    font-family: Georgia, serif;
}